body {
    margin: 0;
    font-family: Arial;
    display: flex;
}

.sidebar {
    width: 220px;
    background: #111827;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    color: white;
}

.sidebar a {
    display: block;
    color: #9CA3AF;
    padding: 10px 0;
    text-decoration: none;
}

.sidebar a:hover {
    color: white;
}

.main {
    flex: 1;
    padding: 30px;
    background: #f3f4f6;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

button {
    padding: 10px 15px;
    background: #2563EB;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #1D4ED8;
}
